$background-color: black;
// $container-size: 8rem; // 127px; // 106px;
$ball-size: 10rem;
$ball-size-mobile: 5.9rem;
$grid-gap: 0.1;

html * {
  margin: 0;
  padding: 0;
  background-color: $background-color;
}
body {
  height: 100%;
}

// interstitial (win) screen styles
.win {
  font-family: monospace;
  margin: 20%;
}
.win h2 {
  margin: 1em auto;
  font-weight: 400;
}

.win,
.win button {
  font-size: 110%;
  padding: 5px 20px;
  text-align: center;
  color: white;
}
.win button:hover {
  cursor: grab;
  color: lightgray;
}
.win button:active {
  color: gray;
}

/* grid layout */
ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($ball-size, 2fr));
  grid-gap: $grid-gap;
  // grid-auto-rows: $container-size;
  // grid-auto-columns: $container-size;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  ul {
    grid-template-columns: repeat(4, minmax($ball-size-mobile, 1fr));
  }
}

ul > li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

// sphere effect
// below is thanks to https://codepen.io/donovanh/pen/GBIiv
.ball {
  // display: block;
  width: $ball-size;
  height: $ball-size;
  margin: 0;
  padding: auto;
  border-radius: 50%;
  position: relative;
  -webkit-transform-style: preserve-3d;
  background-size: auto 50%;
  background: url("") repeat-x;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .ball {
    width: $ball-size-mobile;
    height: $ball-size-mobile;
  }
}

.ball:before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: -40px 10px 70px 10px rgba(0, 0, 0, 0.8) inset;
  z-index: 2;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .ball:before {
    box-shadow: -10px 10px 30px 10px rgba(0, 0, 0, 0.8) inset;
  }
}

.ball:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-filter: blur(0);
  opacity: 0.3;
  background: radial-gradient(
    circle at 50% 80%,
    #81e8f6,
    #76deef 10%,
    #055194 66%,
    #062745 100%
  );
}

.ball .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.1) 40%,
    rgba(0, 0, 0, 0) 50%
  );
}
.stage {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}
